In [134]:
import pandas as pd
import json
from sqlalchemy import create_engine

In [ ]:
# Set server password
## password =

## Move data from json files to Dataframe

In [106]:
season_dfs = []

In [107]:
for i in range(1990,2023):
    season_dfs.append(pd.DataFrame(json.load(open('data/' + str(i) + '_season.json'))['standings']))

In [111]:
season_dfs[0]

,name,played,behinds_for,id,draws,pts,goals_against,behinds_against,for,goals_for,losses,against,percentage,rank,wins
0,Essendon,22,330,5,0,68,259,261,2526,366,5,1815,139.173554,1,17
1,Collingwood,22,324,4,0,64,260,265,2376,342,6,1825,130.191781,2,16
2,West Coast,22,288,17,0,64,279,246,2274,331,6,1920,118.437500,3,16
3,Melbourne,22,275,11,0,64,299,272,2339,344,6,2066,113.213940,4,16
4,Hawthorn,22,290,10,0,56,289,268,2414,354,8,2002,120.579421,5,14
5,North Melbourne,22,329,12,0,48,316,314,2519,365,10,2210,113.981900,6,12
6,Western Bulldogs,22,294,18,0,48,290,291,2016,287,10,2031,99.261448,7,12
7,Carlton,22,267,3,0,44,312,315,2277,335,11,2187,104.115226,8,11
8,St Kilda,22,300,15,0,36,333,315,2328,338,13,2313,100.648508,9,9
9,Geelong,22,328,7,0,32,349,304,2248,320,14,2398,93.744787,10,8
10,Richmond,22,314,14,0,28,368,322,1988,279,15,2530,78.577075,11,7
11,Fitzroy,22,290,19,0,28,345,319,1874,264,15,2389,78.442863,12,7
12,Sydney,22,296,16,0,20,393,346,1904,268,17,2704,70.414201,13,5
13,Brisbane Lions,22,251,2,0,16,348,338,1733,247,18,2426,71.434460,14,4

## Data Processing/Cleaning
Removing goals and behinds columns

In [131]:
for i in range(0,len(season_dfs)):
    season_dfs[i].drop(columns=['goals_for','goals_against','behinds_for','behinds_against'], inplace=True)

In [132]:
season_dfs[32]

,against,losses,for,wins,rank,percentage,played,name,pts,draws,id,points_for,points_against
0,1488,4,2146,18,1,144.220430,22,Geelong,72,0,7,2146,1488
1,1483,6,1936,16,2,130.546190,22,Melbourne,64,0,11,1936,1483
2,1616,6,2067,16,3,127.908416,22,Sydney,64,0,16,2067,1616
3,1763,6,1839,16,4,104.310834,22,Collingwood,64,0,4,1839,1763
4,1486,6,1739,15,5,117.025572,22,Fremantle,62,1,6,1739,1486
5,1799,7,2147,15,6,119.344080,22,Brisbane Lions,60,0,2,2147,1799
6,1780,8,2165,13,7,121.629213,22,Richmond,54,1,14,2165,1780
7,1812,10,1973,12,8,108.885210,22,Western Bulldogs,48,0,18,1973,1812
8,1714,10,1857,12,9,108.343057,22,Carlton,48,0,3,1857,1714
9,1715,11,1703,11,10,99.300292,22,St Kilda,44,0,15,1703,1715
10,1638,12,1806,10,11,110.256410,22,Port Adelaide,40,0,13,1806,1638
11,1820,12,1871,10,12,102.802198,22,Gold Coast,40,0,8,1871,1820
12,1991,14,1787,8,13,89.753893,22,Hawthorn,32,0,10,1787,1991
13,1986,14,1721,8,14,86.656596,22,Adelaide,32,0,1,1721,1986
14,2087,15,1737,7,15,83.229516,22,Essendon,28,0,5,1737,2087
15,1927,16,1631,6,16,84.639336,22,Greater Western Sydney,24,0,9,1631,1927
16,2389,20,1429,2,17,59.815823,22,West Coast,8,0,17,1429,2389
17,2397,20,1337,2,18,55.778056,22,North Melbourne,8,0,12,1337,2397

## Load data to Postgres

In [148]:
engine = create_engine('postgresql://postgres:' + password + '@localhost:5432/mydataproj')

In [ ]:
for j in range(0,33):
    season_dfs[j].to_sql("afl_test_table_" + str(j+1990), engine)